/bin
/mig_lib
/migrate.jar
/migrateSample.jar
/scala-library-2.10.1.jar
/scala-library-9.xx.x.jar
/scala.jar
/dbdocs
/helloJava6.jar
/helloScala211.jar
/hs.jar
/GC_FEES_PREPAID_BILLING_562594.param
/1.param
/1.param.GOOD
/11.param
/gc_get_info_ods_GOOD.param
/.cache
/createq.txt
/l7_FW_error.log
/l7_FW.log
